AH/IoTHeatSys.json
[{"id":"bab59543.e0b868","type":"tab","label":"iotHeatSys","disabled":false,"info":""},{"id":"81261226.d07d1","type":"function","z":"bab59543.e0b868","name":"pl1","func":"msg.payload1= msg.payload;\nmsg.payload2 = (flow.get(\"storeP2\") || 10);\nflow.set(\"storeP1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":600,"wires":[["776e76ad.c54618"]]},{"id":"a0d62e12.f6181","type":"function","z":"bab59543.e0b868","name":"pl2","func":"msg.payload2= msg.payload;\nmsg.payload1 = (flow.get(\"storeP1\") || 10);\nflow.set(\"storeP2\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":660,"wires":[["776e76ad.c54618"]]},{"id":"776e76ad.c54618","type":"function","z":"bab59543.e0b868","name":"Temp_info","func":"if(msg.payload1 < msg.payload2){\nmsg.payload = {\"d\":{\"actautor\":\"on\", \"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n}\nelse {\nmsg.payload = {\"d\":{\"actuator\":\"off\",\"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":620,"wires":[["a5e77663.4ad688","eed4da94.a42d48"]]},{"id":"784a4f60.6cadf","type":"ui_slider","z":"bab59543.e0b868","name":"현재온도","label":"온도 센서","tooltip":"","group":"30a4fd66.9e1742","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":"0.1","x":380,"y":600,"wires":[["81261226.d07d1","d980929f.271a6"]]},{"id":"2b26ce48.dab992","type":"ui_slider","z":"bab59543.e0b868","name":"셋팅온도","label":"셋팅온도","tooltip":"","group":"d1c856ff.772a48","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":380,"y":660,"wires":[["a0d62e12.f6181","736df908.6b2328"]]},{"id":"3a61cb83.5c3f84","type":"comment","z":"bab59543.e0b868","name":"1. Thermo Sensor -> Acutator","info":"","x":360,"y":560,"wires":[]},{"id":"a295781.39b7d88","type":"comment","z":"bab59543.e0b868","name":"현재온도 Dashboard","info":"","x":610,"y":520,"wires":[]},{"id":"736df908.6b2328","type":"ui_gauge","z":"bab59543.e0b868","name":"Inital Setting Temperature","group":"d1c856ff.772a48","order":7,"width":0,"height":0,"gtype":"gage","title":"Inital Setting Temperature","label":"degree(°C)","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":720,"wires":[]},{"id":"943ea95e.2f8cc8","type":"inject","z":"bab59543.e0b868","name":"Weather Update","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":160,"wires":[["51dc0e14.c5954","e74af3bd.79718","adad47d8.602ac8"]]},{"id":"b92b86fc.6e87a8","type":"cloudant out","z":"bab59543.e0b868","name":"","cloudant":"","database":"temp_db","service":"kdtiot-cloudant-1627366535838-65009","payonly":false,"operation":"insert","x":780,"y":120,"wires":[]},{"id":"77a2b4b5.f778ac","type":"function","z":"bab59543.e0b868","name":"","func":"msg.payload = msg.payload.current.temp\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":220,"wires":[["185953ae.87b41c","bb27b0ef.e0091","b611edb2.c68c4","784a4f60.6cadf"]]},{"id":"185953ae.87b41c","type":"ui_text","z":"bab59543.e0b868","group":"f6b8576a.eac398","order":8,"width":0,"height":0,"name":"Siheung-si Temperature(Web Weather)","label":"Siheung-si Temperature(°C)","format":"{{msg.payload | number:2}}","layout":"col-center","x":1190,"y":120,"wires":[]},{"id":"c464c957.79ce98","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"88e87aa.5e58688","type":"comment","z":"bab59543.e0b868","name":"Web Weather API Current Weather Seoul & Ahnsan-si","info":"","x":340,"y":120,"wires":[]},{"id":"bb27b0ef.e0091","type":"ui_gauge","z":"bab59543.e0b868","name":"Siheung-si Temperature(Web Weather)","group":"f6b8576a.eac398","order":9,"width":0,"height":0,"gtype":"gage","title":"Siheung-si Temperature","label":"degree(°C)","format":"{{value|number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":160,"wires":[]},{"id":"fe0a1c9b.48da2","type":"comment","z":"bab59543.e0b868","name":"Data API Current Weather JeongWang-dong","info":"","x":310,"y":300,"wires":[]},{"id":"71ca906a.5c72d","type":"function","z":"bab59543.e0b868","name":"","func":"msg.payload1 = msg.payload.daily[1].temp.day\nmsg.payload2 = msg.payload.daily[1].temp.max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":280,"wires":[["94257638.3754f8","9ebafaf7.0c21f8"]]},{"id":"94257638.3754f8","type":"ui_text","z":"bab59543.e0b868","group":"f6b8576a.eac398","order":8,"width":0,"height":0,"name":"Siheung-si Forecast Temperature day","label":"Siheung-si Forecast Temperature day(°C)","format":"{{msg.payload1 | number:2}}","layout":"row-spread","x":1190,"y":280,"wires":[]},{"id":"9ebafaf7.0c21f8","type":"ui_text","z":"bab59543.e0b868","group":"f6b8576a.eac398","order":8,"width":0,"height":0,"name":"Siheung-si Forecast Temperature max","label":"Siheung-si Forecast Temperature max(°C)","format":"{{msg.payload2 | number:2}}","layout":"row-spread","x":1190,"y":320,"wires":[]},{"id":"b611edb2.c68c4","type":"ui_chart","z":"bab59543.e0b868","name":"Siheung-si Temperature(Web Weather)","group":"f6b8576a.eac398","order":2,"width":0,"height":0,"label":"Siheung-si Temperature(°C)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":200,"wires":[[]]},{"id":"b21d3bc2.82a998","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"3b1331e1.0ea9de","type":"ui_gauge","z":"bab59543.e0b868","name":"JeongWang-dong Temperature","group":"ef61fd0b.48ff5","order":0,"width":0,"height":0,"gtype":"gage","title":"JeongWang-dong Temperature","label":"degree(°C)","format":"{{value|number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":400,"wires":[]},{"id":"af46dfdb.4fb52","type":"ui_chart","z":"bab59543.e0b868","name":"JeongWang-dong Temperature","group":"ef61fd0b.48ff5","order":2,"width":0,"height":0,"label":"JeongWang-dong Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1030,"y":440,"wires":[[]]},{"id":"450cd1a3.6dde6","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":340,"wires":[]},{"id":"15f3291a.bc1907","type":"cloudant out","z":"bab59543.e0b868","name":"","cloudant":"","database":"temp_db","service":"kdtiot-cloudant-1627366535838-65009","payonly":true,"operation":"insert","x":960,"y":480,"wires":[]},{"id":"ee1a2c0b.df074","type":"function","z":"bab59543.e0b868","name":"","func":"msg.payload = msg.payload.response.body.items.item[3].obsrValue\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[["15f3291a.bc1907","3b1331e1.0ea9de","af46dfdb.4fb52"]]},{"id":"a5e77663.4ad688","type":"ibmiot out","z":"bab59543.e0b868","authentication":"apiKey","apiKey":"d7f338ed.fa4628","outputType":"cmd","deviceId":"vActuator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":"0","name":"Actuator","service":"registered","x":860,"y":620,"wires":[]},{"id":"eed4da94.a42d48","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":680,"wires":[]},{"id":"adad47d8.602ac8","type":"simpletime","z":"bab59543.e0b868","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":410,"y":340,"wires":[["51f5260d.770468"]]},{"id":"51f5260d.770468","type":"function","z":"bab59543.e0b868","name":"","func":"var ontime = msg.myminte;\nvar onhour = msg.myhour - 1;\n\nif(onhour<0){onhour = 23;}\nif(ontime<=40){\n    msg.hourtime = onhour + \"00\";\n    return msg;\n}else{\n    msg.hourtime = msg.myhour + \"00\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":340,"wires":[["e63b5812.b0a048"]]},{"id":"d91b4673.d8eac8","type":"http request","z":"bab59543.e0b868","name":"Data.go.kr","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=OpZOQcUHaBzoTetCd1I6gGcsxyIxUt%2Bm1XJ2MkKwtelQhoZLrL6lWt9lnXNUtd9kWVIMDGLJAP5Kr9%2FJglz2AQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date={{{daytime}}}&base_time={{{hourtime}}}&nx=56&ny=122","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":420,"wires":[["ee1a2c0b.df074","b21d3bc2.82a998"]]},{"id":"d980929f.271a6","type":"ui_gauge","z":"bab59543.e0b868","name":"Current Temperature","group":"30a4fd66.9e1742","order":7,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"degree(°C)","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":560,"wires":[]},{"id":"9f155c0d.c47a8","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":880,"wires":[]},{"id":"ef8aed5a.5559a","type":"ibmiot in","z":"bab59543.e0b868","authentication":"apiKey","apiKey":"d7f338ed.fa4628","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"vActuator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Actuator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":false,"qos":0,"x":380,"y":820,"wires":[["b4bb9823.285f48"]]},{"id":"b4bb9823.285f48","type":"function","z":"bab59543.e0b868","name":"","func":"if(msg.payload.d.actuator === \"on\"){\n    msg.payload = {\"d\":{\"actuator\":\"on\"}}\n}\nelse{\n    msg.payload = {\"d\":{\"actuator\":\"off\"}}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":820,"wires":[["9f155c0d.c47a8","fa9ee62d.de5468"]]},{"id":"fa9ee62d.de5468","type":"ui_switch","z":"bab59543.e0b868","name":"","label":"switch","tooltip":"","group":"d1c856ff.772a48","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"{\"d\":{\"actuator\":\"on\"}}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"d\":{\"actuator\":\"off\"}}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":710,"y":820,"wires":[[]]},{"id":"e74af3bd.79718","type":"openweathermap","z":"bab59543.e0b868","name":"Siheung-si","wtype":"onecall","lon":"126.7459777","lat":"37.33718333","city":"","country":"","language":"kr","x":470,"y":200,"wires":[["71ca906a.5c72d","450cd1a3.6dde6"]]},{"id":"51dc0e14.c5954","type":"openweathermap","z":"bab59543.e0b868","name":"Siheung-si","wtype":"onecall","lon":"126.7459777","lat":"37.33718333","city":"","country":"","language":"kr","x":470,"y":160,"wires":[["77a2b4b5.f778ac","b92b86fc.6e87a8","c464c957.79ce98"]]},{"id":"e63b5812.b0a048","type":"moment","z":"bab59543.e0b868","name":"daytime","topic":"daytime","input":"payload","inputType":"msg","inTz":"Aisa/Seoul","adjAmount":0,"adjType":"days","adjDir":"subtract","format":"20YYMMDD","locale":"kor-KR","output":"daytime","outputType":"msg","outTz":"Aisa/Seoul","x":340,"y":420,"wires":[["d91b4673.d8eac8"]]},{"id":"30a4fd66.9e1742","type":"ui_group","name":"Thermo Sensor","tab":"590ab3bd.7e177c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1c856ff.772a48","type":"ui_group","name":"Actuator","tab":"e3245e6c.fe0ed8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6b8576a.eac398","type":"ui_group","name":"Weather","tab":"6343b11f.814fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef61fd0b.48ff5","type":"ui_group","name":"Weather1","tab":"6343b11f.814fa","order":2,"disp":true,"width":"6","collapse":false},{"id":"d7f338ed.fa4628","type":"ibmiot","name":"kdt","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"590ab3bd.7e177c","type":"ui_tab","name":"Room Temperature","icon":"dashboard","disabled":false,"hidden":false},{"id":"e3245e6c.fe0ed8","type":"ui_tab","name":"Actuator","icon":"dashboard","disabled":false,"hidden":false},{"id":"6343b11f.814fa","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]