AH/SmartMobility2team_iotHeatSys.json
[{"id":"d857ea68.b63978","type":"tab","label":"SmartMobility2team_iotHeatSys","disabled":false,"info":""},{"id":"3c4c0986.3daee6","type":"debug","z":"d857ea68.b63978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":500,"wires":[]},{"id":"18dc5f5c.e4c901","type":"function","z":"d857ea68.b63978","name":"pl1","func":"msg.payload1= msg.payload;\nmsg.payload2 = (flow.get(\"storeP2\") || 10);\nflow.set(\"storeP1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":220,"wires":[["bde3e4cf.f65848"]]},{"id":"c2e5c8a6.eb1e28","type":"function","z":"d857ea68.b63978","name":"pl2","func":"msg.payload2= msg.payload;\nmsg.payload1 = (flow.get(\"storeP1\") || 10);\nflow.set(\"storeP2\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":280,"wires":[["bde3e4cf.f65848"]]},{"id":"bde3e4cf.f65848","type":"function","z":"d857ea68.b63978","name":"Temp_info","func":"if(msg.payload1 < msg.payload2){\nmsg.payload = {\"d\":{\"regulator\":\"on\", \"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n\n}\nelse {\nmsg.payload = {\"d\":{\"regulator\":\"off\",\"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":240,"wires":[["dfffb55.e1dc048"]]},{"id":"8f08c1e0.8e9b8","type":"ui_slider","z":"d857ea68.b63978","name":"현재온도","label":"현재온도","tooltip":"","group":"a379f7c8.2ddaf8","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":"0.1","x":1060,"y":220,"wires":[["18dc5f5c.e4c901"]]},{"id":"33483604.12ccba","type":"ui_slider","z":"d857ea68.b63978","name":"셋팅온도","label":"셋팅온도","tooltip":"","group":"a379f7c8.2ddaf8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"x":1060,"y":280,"wires":[["c2e5c8a6.eb1e28"]]},{"id":"19b43374.37707d","type":"function","z":"d857ea68.b63978","name":"reg_info","func":"var evt1 = {'d':{'actuator':msg.payload.d.regulator,\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n\nreturn {payload:JSON.stringify(evt1)};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["c35262a8.e61d","3c4c0986.3daee6"]]},{"id":"c35262a8.e61d","type":"ibmiot out","z":"d857ea68.b63978","authentication":"apiKey","apiKey":"d7f338ed.fa4628","outputType":"cmd","deviceId":"vActuator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":"2","name":"Actuator","service":"registered","x":640,"y":440,"wires":[]},{"id":"4d07b330.7617ac","type":"comment","z":"d857ea68.b63978","name":"1. 온도 측정 -> 조절기","info":"","x":1080,"y":180,"wires":[]},{"id":"3e62f761.3060b8","type":"comment","z":"d857ea68.b63978","name":"2. 조절기 -> 구동기","info":"","x":300,"y":400,"wires":[]},{"id":"99eab1d5.85ad9","type":"ibmiot in","z":"d857ea68.b63978","authentication":"apiKey","apiKey":"d7f338ed.fa4628","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"vRegulator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Regulator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":false,"qos":"2","x":300,"y":440,"wires":[["19b43374.37707d"]]},{"id":"dfffb55.e1dc048","type":"ibmiot out","z":"d857ea68.b63978","authentication":"apiKey","apiKey":"d7f338ed.fa4628","outputType":"evt","deviceId":"vRegulator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":"2","name":"Regulator","service":"registered","x":1520,"y":240,"wires":[]},{"id":"769ebfc5.a0dfd","type":"function","z":"d857ea68.b63978","name":"thermo(cur_temp)","func":"msg.payload= msg.payload.d.cur_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":220,"wires":[["8f08c1e0.8e9b8","85280d8b.0dc1d","8f5df70.c456c08"]]},{"id":"2248b0b3.314a6","type":"comment","z":"d857ea68.b63978","name":"난방 작동 후 온도 변화","info":"","x":500,"y":300,"wires":[]},{"id":"2ccc00f1.077fc","type":"function","z":"d857ea68.b63978","name":"온도변화","func":"if(msg.payload.d.cur_temp < msg.payload.d.tar_temp){\n    msg.payload.d.cur_temp += 0.5;\n    msg.payload = {\"d\":{\"actuator\":\"on\", \"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n   \n}\nelse {\n    msg.payload.d.cur_temp -= 0.2;\n    msg.payload = {\"d\":{\"actuator\":\"off\",\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["d0cbd9bc.ce1188","af46fcca.abcc1"]]},{"id":"d0cbd9bc.ce1188","type":"delay","z":"d857ea68.b63978","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["769ebfc5.a0dfd","1aa0c9ce.343c96","48948621.6357d8"]]},{"id":"1aa0c9ce.343c96","type":"function","z":"d857ea68.b63978","name":"thermo(tar_temp)","func":"msg.payload= msg.payload.d.tar_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":280,"wires":[["33483604.12ccba","84429292.c2a5d"]]},{"id":"af46fcca.abcc1","type":"debug","z":"d857ea68.b63978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"f787a084.cc171","type":"comment","z":"d857ea68.b63978","name":"3. 구동기 -> 난방 작동","info":"","x":300,"y":200,"wires":[]},{"id":"48948621.6357d8","type":"repeat","z":"d857ea68.b63978","name":"Repeat","repetitions":"1000","elseOutput":false,"outputs":1,"x":540,"y":180,"wires":[["2ccc00f1.077fc"]]},{"id":"8f5df70.c456c08","type":"ui_gauge","z":"d857ea68.b63978","name":"Current Temperature","group":"a379f7c8.2ddaf8","order":7,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"degree(°C)","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":80,"wires":[]},{"id":"85280d8b.0dc1d","type":"ui_chart","z":"d857ea68.b63978","name":"Current Temperature","group":"a379f7c8.2ddaf8","order":7,"width":0,"height":0,"label":"Current Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1080,"y":120,"wires":[[]]},{"id":"48498d8b.dfe9b4","type":"comment","z":"d857ea68.b63978","name":"현재온도 Dashboard","info":"","x":1030,"y":40,"wires":[]},{"id":"84429292.c2a5d","type":"ui_gauge","z":"d857ea68.b63978","name":"Inital Setting Temperature","group":"a379f7c8.2ddaf8","order":7,"width":0,"height":0,"gtype":"gage","title":"Inital Setting Temperature","label":"degree(°C)","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":340,"wires":[]},{"id":"896ededb.612f8","type":"ibmiot in","z":"d857ea68.b63978","authentication":"apiKey","apiKey":"d7f338ed.fa4628","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"vActuator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Actuator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":false,"qos":"2","x":300,"y":240,"wires":[["2ccc00f1.077fc"]]},{"id":"a379f7c8.2ddaf8","type":"ui_group","name":"Heating System","tab":"e3245e6c.fe0ed8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d7f338ed.fa4628","type":"ibmiot","name":"kdt","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e3245e6c.fe0ed8","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false}]