AH/SmartMobility_2Team_iotHeatSYS.json
[{"id":"bab59543.e0b868","type":"tab","label":"SmartMobility2team_iotHeatSys","disabled":false,"info":""},{"id":"c2c97c5e.4e8ba","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":500,"wires":[]},{"id":"c4e33f0c.b04d","type":"ibmiot in","z":"bab59543.e0b868","authentication":"apiKey","apiKey":"d7f338ed.fa4628","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"vActuator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Actuator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":false,"qos":"2","x":300,"y":240,"wires":[["2d06f91c.5ee4a6"]]},{"id":"81261226.d07d1","type":"function","z":"bab59543.e0b868","name":"pl1","func":"msg.payload1= msg.payload;\nmsg.payload2 = (flow.get(\"storeP2\") || 10);\nflow.set(\"storeP1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":220,"wires":[["776e76ad.c54618"]]},{"id":"a0d62e12.f6181","type":"function","z":"bab59543.e0b868","name":"pl2","func":"msg.payload2= msg.payload;\nmsg.payload1 = (flow.get(\"storeP1\") || 10);\nflow.set(\"storeP2\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":280,"wires":[["776e76ad.c54618"]]},{"id":"776e76ad.c54618","type":"function","z":"bab59543.e0b868","name":"Temp_info","func":"if(msg.payload1 < msg.payload2){\nmsg.payload = {\"d\":{\"regulator\":\"on\", \"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n\n}\nelse {\nmsg.payload = {\"d\":{\"regulator\":\"off\",\"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":260,"wires":[["d0495b75.ce9638"]]},{"id":"784a4f60.6cadf","type":"ui_slider","z":"bab59543.e0b868","name":"현재온도","label":"현재온도","tooltip":"","group":"8ba2ac6a.816258","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":"0.1","x":1060,"y":220,"wires":[["81261226.d07d1"]]},{"id":"2b26ce48.dab992","type":"ui_slider","z":"bab59543.e0b868","name":"셋팅온도","label":"셋팅온도","tooltip":"","group":"8ba2ac6a.816258","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"x":1060,"y":280,"wires":[["a0d62e12.f6181"]]},{"id":"d4223af2.fb48e8","type":"function","z":"bab59543.e0b868","name":"reg_info","func":"var evt1 = {'d':{'actuator':msg.payload.d.regulator,\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n\nreturn {payload:JSON.stringify(evt1)};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["39e39ad8.0b5996","c2c97c5e.4e8ba"]]},{"id":"39e39ad8.0b5996","type":"ibmiot out","z":"bab59543.e0b868","authentication":"apiKey","apiKey":"d7f338ed.fa4628","outputType":"cmd","deviceId":"vActuator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":"2","name":"Actuator","service":"registered","x":640,"y":440,"wires":[]},{"id":"3a61cb83.5c3f84","type":"comment","z":"bab59543.e0b868","name":"1. 온도 측정 -> 조절기","info":"","x":1080,"y":180,"wires":[]},{"id":"516ee954.3ad6b8","type":"comment","z":"bab59543.e0b868","name":"2. 조절기 -> 구동기","info":"","x":300,"y":400,"wires":[]},{"id":"3be8e8a2.9416d8","type":"ibmiot in","z":"bab59543.e0b868","authentication":"apiKey","apiKey":"d7f338ed.fa4628","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"vRegulator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Regulator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":false,"qos":"2","x":300,"y":440,"wires":[["d4223af2.fb48e8"]]},{"id":"d0495b75.ce9638","type":"ibmiot out","z":"bab59543.e0b868","authentication":"apiKey","apiKey":"d7f338ed.fa4628","outputType":"evt","deviceId":"vRegulator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":"2","name":"Regulator","service":"registered","x":1520,"y":260,"wires":[]},{"id":"4115b41f.bb753c","type":"function","z":"bab59543.e0b868","name":"thermo(cur_temp)","func":"msg.payload= msg.payload.d.cur_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":220,"wires":[["784a4f60.6cadf","faab9e52.4dc17","30a35c75.c1c234"]]},{"id":"e1d6e88c.36e808","type":"comment","z":"bab59543.e0b868","name":"난방 작동 후 온도 변화","info":"","x":500,"y":300,"wires":[]},{"id":"2d06f91c.5ee4a6","type":"function","z":"bab59543.e0b868","name":"온도변화","func":"if(msg.payload.d.cur_temp < msg.payload.d.tar_temp){\n\n    msg.payload.d.cur_temp += 0.5;\n    msg.payload = {\"d\":{\"actuator\":\"on\", \"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n   \n}\nelse {\n    msg.payload.d.cur_temp -= 0.2;\n    msg.payload = {\"d\":{\"actuator\":\"off\",\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["6fdf7f46.ae31e","8a25200d.cd6"]]},{"id":"6fdf7f46.ae31e","type":"delay","z":"bab59543.e0b868","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":240,"wires":[["4115b41f.bb753c","486d9bc7.5aaea4","3065104d.1575e"]]},{"id":"486d9bc7.5aaea4","type":"function","z":"bab59543.e0b868","name":"thermo(tar_temp)","func":"msg.payload= msg.payload.d.tar_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":280,"wires":[["2b26ce48.dab992","736df908.6b2328"]]},{"id":"8a25200d.cd6","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"48cc3739.7cac58","type":"comment","z":"bab59543.e0b868","name":"3. 구동기 -> 난방 작동","info":"","x":300,"y":200,"wires":[]},{"id":"3065104d.1575e","type":"repeat","z":"bab59543.e0b868","name":"Repeat","repetitions":"1000","elseOutput":false,"outputs":1,"x":540,"y":180,"wires":[["2d06f91c.5ee4a6"]]},{"id":"30a35c75.c1c234","type":"ui_gauge","z":"bab59543.e0b868","name":"Current Temperature","group":"8ba2ac6a.816258","order":7,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"degree(°C)","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":80,"wires":[]},{"id":"faab9e52.4dc17","type":"ui_chart","z":"bab59543.e0b868","name":"Current Temperature","group":"8ba2ac6a.816258","order":7,"width":0,"height":0,"label":"Current Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1080,"y":120,"wires":[[]]},{"id":"a295781.39b7d88","type":"comment","z":"bab59543.e0b868","name":"현재온도 Dashboard","info":"","x":1030,"y":40,"wires":[]},{"id":"736df908.6b2328","type":"ui_gauge","z":"bab59543.e0b868","name":"Inital Setting Temperature","group":"8ba2ac6a.816258","order":7,"width":0,"height":0,"gtype":"gage","title":"Inital Setting Temperature","label":"degree(°C)","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":340,"wires":[]},{"id":"943ea95e.2f8cc8","type":"inject","z":"bab59543.e0b868","name":"Weather Update","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":660,"wires":[["f1956ff6.24374","9df6dfb5.47055","c2403a34.2e2168"]]},{"id":"b92b86fc.6e87a8","type":"cloudant out","z":"bab59543.e0b868","name":"","cloudant":"","database":"temp_db","service":"kdtiot-cloudant-1627366535838-65009","payonly":false,"operation":"insert","x":900,"y":660,"wires":[]},{"id":"77a2b4b5.f778ac","type":"function","z":"bab59543.e0b868","name":"","func":"msg.payload = msg.payload.current.temp\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":720,"wires":[["185953ae.87b41c","bb27b0ef.e0091","b611edb2.c68c4"]]},{"id":"185953ae.87b41c","type":"ui_text","z":"bab59543.e0b868","group":"845162c0.218a3","order":8,"width":0,"height":0,"name":"Siheung-si Temperature(Web Weather)","label":"Siheung-si Temperature(°C)","format":"{{msg.payload | number:2}}","layout":"col-center","x":1270,"y":620,"wires":[]},{"id":"c464c957.79ce98","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":620,"wires":[]},{"id":"88e87aa.5e58688","type":"comment","z":"bab59543.e0b868","name":"Web Weather API Current Weather Seoul & Ahnsan-si","info":"","x":420,"y":620,"wires":[]},{"id":"bb27b0ef.e0091","type":"ui_gauge","z":"bab59543.e0b868","name":"Siheung-si Temperature(Web Weather)","group":"845162c0.218a3","order":9,"width":0,"height":0,"gtype":"gage","title":"Siheung-si Temperature","label":"degree(°C)","format":"{{value|number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":660,"wires":[]},{"id":"fe0a1c9b.48da2","type":"comment","z":"bab59543.e0b868","name":"Data API Current Weather JeongWang-dong","info":"","x":390,"y":800,"wires":[]},{"id":"71ca906a.5c72d","type":"function","z":"bab59543.e0b868","name":"","func":"msg.payload1 = msg.payload.daily[1].temp.day\nmsg.payload2 = msg.payload.daily[1].temp.max\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":780,"wires":[["94257638.3754f8","9ebafaf7.0c21f8"]]},{"id":"94257638.3754f8","type":"ui_text","z":"bab59543.e0b868","group":"845162c0.218a3","order":8,"width":0,"height":0,"name":"Siheung-si Forecast Temperature day","label":"Siheung-si Forecast Temperature day(°C)","format":"{{msg.payload1 | number:2}}","layout":"row-spread","x":1270,"y":780,"wires":[]},{"id":"9ebafaf7.0c21f8","type":"ui_text","z":"bab59543.e0b868","group":"845162c0.218a3","order":8,"width":0,"height":0,"name":"Siheung-si Forecast Temperature max","label":"Siheung-si Forecast Temperature max(°C)","format":"{{msg.payload2 | number:2}}","layout":"row-spread","x":1270,"y":820,"wires":[]},{"id":"f1956ff6.24374","type":"openweathermap","z":"bab59543.e0b868","name":"Siheung-si","wtype":"onecall","lon":"126.7459777","lat":"37.33718333","city":"","country":"","language":"kr","x":530,"y":660,"wires":[["b92b86fc.6e87a8","77a2b4b5.f778ac","c464c957.79ce98"]]},{"id":"b611edb2.c68c4","type":"ui_chart","z":"bab59543.e0b868","name":"Siheung-si Temperature(Web Weather)","group":"845162c0.218a3","order":2,"width":0,"height":0,"label":"Siheung-si Temperature(°C)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":700,"wires":[[]]},{"id":"9df6dfb5.47055","type":"openweathermap","z":"bab59543.e0b868","name":"Siheung-si","wtype":"onecall","lon":"126.7459777","lat":"37.33718333","city":"","country":"","language":"kr","x":530,"y":720,"wires":[["71ca906a.5c72d","450cd1a3.6dde6"]]},{"id":"c2403a34.2e2168","type":"simpletime","z":"bab59543.e0b868","name":"Nowtime","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":520,"y":840,"wires":[["6abf3d0e.a09f74"]]},{"id":"6abf3d0e.a09f74","type":"function","z":"bab59543.e0b868","name":"","func":"var onminute = msg.myminute\nvar onhour = msg.myhour - 1;\n\nif(onhour<0) {onhour = 23;}\nif(onminute<=40){\n    msg.hourtime = onhour + \"00\";\n}else{\n    msg.hourtime = msg.myhour + \"00\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":840,"wires":[["e7bbd4d.fb60628"]]},{"id":"e7bbd4d.fb60628","type":"moment","z":"bab59543.e0b868","name":"daytime","topic":"daytime","input":"payload","inputType":"msg","inTz":"Asia/Seoul","adjAmount":"0","adjType":"hours","adjDir":"add","format":"20YYMMDD","locale":"ko-KR","output":"daytime","outputType":"msg","outTz":"Asia/Seoul","x":540,"y":900,"wires":[["5d7ccc74.137fd4"]]},{"id":"5d7ccc74.137fd4","type":"http request","z":"bab59543.e0b868","name":"Data.go.kr","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=OpZOQcUHaBzoTetCd1I6gGcsxyIxUt%2Bm1XJ2MkKwtelQhoZLrL6lWt9lnXNUtd9kWVIMDGLJAP5Kr9%2FJglz2AQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date={{{daytime}}}&base_time={{{hourtime}}}&nx=56&ny=122","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":900,"wires":[["b21d3bc2.82a998","792ab12d.1d375"]]},{"id":"b21d3bc2.82a998","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1000,"wires":[]},{"id":"792ab12d.1d375","type":"function","z":"bab59543.e0b868","name":"","func":"msg.payload = msg.payload.response.body.items.item[3].obsrValue\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":900,"wires":[["3b1331e1.0ea9de","af46dfdb.4fb52"]]},{"id":"3b1331e1.0ea9de","type":"ui_gauge","z":"bab59543.e0b868","name":"JeongWang-dong Temperature","group":"ebbf5436.b8f608","order":0,"width":0,"height":0,"gtype":"gage","title":"JeongWang-dong Temperature","label":"degree(°C)","format":"{{value|number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":900,"wires":[]},{"id":"af46dfdb.4fb52","type":"ui_chart","z":"bab59543.e0b868","name":"JeongWang-dong Temperature","group":"ebbf5436.b8f608","order":2,"width":0,"height":0,"label":"JeongWang-dong Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":940,"wires":[[]]},{"id":"450cd1a3.6dde6","type":"debug","z":"bab59543.e0b868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":840,"wires":[]},{"id":"d7f338ed.fa4628","type":"ibmiot","name":"kdt","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8ba2ac6a.816258","type":"ui_group","name":"Heating Control System","tab":"e3245e6c.fe0ed8","order":1,"disp":true,"width":"6","collapse":false},{"id":"845162c0.218a3","type":"ui_group","name":"City Temperature","tab":"e3245e6c.fe0ed8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebbf5436.b8f608","type":"ui_group","name":"City_Temperature","tab":"e3245e6c.fe0ed8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e3245e6c.fe0ed8","type":"ui_tab","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]