YJH/heating sys flow.json
[{"id":"17cf7b38.c6011d","type":"tab","label":"iotHeatingSys","disabled":false,"info":""},{"id":"12314e09.b59232","type":"function","z":"17cf7b38.c6011d","name":"pl1","func":"msg.payload1= msg.payload;\nmsg.payload2 = (flow.get(\"storeP2\") || 10);\nflow.set(\"storeP1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":200,"wires":[["50342ae9.8bf734"]]},{"id":"72754745.375098","type":"function","z":"17cf7b38.c6011d","name":"pl2","func":"msg.payload2= msg.payload;\nmsg.payload1 = (flow.get(\"storeP1\") || 10);\nflow.set(\"storeP2\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1223.3333129882812,"y":262.66650390625,"wires":[["50342ae9.8bf734"]]},{"id":"50342ae9.8bf734","type":"function","z":"17cf7b38.c6011d","name":"Temp_info","func":"if(msg.payload1 < msg.payload2){\nmsg.payload = {\"d\":{\"regulator\":\"on\", \"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n\n}\nelse {\nmsg.payload = {\"d\":{\"regulator\":\"off\",\"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":220,"wires":[["eef93e41.724608","931562f3.ed8d88"]]},{"id":"dee9e0cb.f6fa38","type":"ui_slider","z":"17cf7b38.c6011d","name":"현재온도","label":"현재온도","tooltip":"","group":"8ba2ac6a.816258","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":"0.1","x":1060,"y":200,"wires":[["12314e09.b59232"]]},{"id":"d2281911.717b18","type":"ui_slider","z":"17cf7b38.c6011d","name":"셋팅온도","label":"셋팅온도","tooltip":"","group":"8ba2ac6a.816258","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"x":1060,"y":280,"wires":[["72754745.375098"]]},{"id":"55309fac.6d006","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":480,"wires":[]},{"id":"39ef68f3.7c8ff","type":"function","z":"17cf7b38.c6011d","name":"reg_info","func":"var evt1 = {'d':{'actuator':msg.payload.d.regulator,\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n\nreturn {payload:JSON.stringify(evt1)};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":400,"wires":[["dfead4b3.3ffb6","d2abe26f.f44648"]]},{"id":"dfead4b3.3ffb6","type":"ibmiot out","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","outputType":"cmd","deviceId":"vActuator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":0,"name":"Actuator","service":"registered","x":1560,"y":400,"wires":[]},{"id":"d2abe26f.f44648","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":480,"wires":[]},{"id":"49978d47.a1ae0c","type":"comment","z":"17cf7b38.c6011d","name":"1. 온도 측정 -> 조절기","info":"","x":1090,"y":160,"wires":[]},{"id":"4e2090a4.3aa37","type":"comment","z":"17cf7b38.c6011d","name":"2. 조절기 -> 구동기","info":"","x":1120,"y":360,"wires":[]},{"id":"9b80bd63.5e57d","type":"ibmiot in","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"vRegulator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Regulator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":true,"qos":0,"x":1120,"y":400,"wires":[["55309fac.6d006","39ef68f3.7c8ff"]]},{"id":"eef93e41.724608","type":"ibmiot out","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","outputType":"evt","deviceId":"vRegulator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":0,"name":"Regulator","service":"registered","x":1560,"y":220,"wires":[]},{"id":"931562f3.ed8d88","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"29892ec5.2a0882","type":"ui_gauge","z":"17cf7b38.c6011d","name":"","group":"8ba2ac6a.816258","order":7,"width":0,"height":0,"gtype":"gage","title":"Thermometer","label":"","format":"{{value | number:1}}°C","min":0,"max":"50","colors":["#53d5fd","#3a88fe","#ff2600"],"seg1":"","seg2":"","x":1100,"y":100,"wires":[]},{"id":"aa050491.44b0f8","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"4385ca36.da94ac","type":"function","z":"17cf7b38.c6011d","name":"thermo(cur_temp)","func":"msg.payload= msg.payload.d.cur_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":220,"wires":[["dee9e0cb.f6fa38","29892ec5.2a0882","aa050491.44b0f8"]]},{"id":"5d469731.e41fe","type":"comment","z":"17cf7b38.c6011d","name":"난방 작동 후 온도 변화","info":"","x":730,"y":380,"wires":[]},{"id":"923fd71c.dfeea","type":"function","z":"17cf7b38.c6011d","name":"온도변화","func":"if(msg.payload.d.cur_temp < msg.payload.d.tar_temp){\n\n    msg.payload.d.cur_temp += 0.5;\n    msg.payload = {\"d\":{\"actuator\":\"on\", \"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n   \n}\nelse {\n    msg.payload.d.cur_temp -= 0.1;\n    msg.payload = {\"d\":{\"actuator\":\"off\",\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["4385ca36.da94ac","f9341e70.1847c8","cde21b59.a6d378","43ba0f4c.5842f"]]},{"id":"35974377.8e6214","type":"delay","z":"17cf7b38.c6011d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":240,"wires":[["923fd71c.dfeea"]]},{"id":"ec61bb1f.696cf8","type":"ibmiot in","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"vActuator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Actuator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":true,"qos":0,"x":300,"y":240,"wires":[["b3882fe7.83df68","35974377.8e6214"]]},{"id":"f9341e70.1847c8","type":"function","z":"17cf7b38.c6011d","name":"thermo(tar_temp)","func":"msg.payload= msg.payload.d.tar_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":280,"wires":[["d2281911.717b18"]]},{"id":"cde21b59.a6d378","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":500,"wires":[]},{"id":"b3882fe7.83df68","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"12dea6c2.f49e31","type":"comment","z":"17cf7b38.c6011d","name":"3. 구동기 -> 난방 작동","info":"","x":310,"y":200,"wires":[]},{"id":"43ba0f4c.5842f","type":"repeat","z":"17cf7b38.c6011d","name":"","repetitions":"10000","elseOutput":false,"outputs":1,"x":560,"y":120,"wires":[["35974377.8e6214"]]},{"id":"8ba2ac6a.816258","type":"ui_group","name":"Heating System","tab":"e3245e6c.fe0ed8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bd5c319.d8155","type":"ibmiot","name":"kdt","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e3245e6c.fe0ed8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]