YJH/sys_flow.json
[{"id":"17cf7b38.c6011d","type":"tab","label":"플로우 6","disabled":false,"info":""},{"id":"12314e09.b59232","type":"function","z":"17cf7b38.c6011d","name":"pl1","func":"msg.payload1= msg.payload;\nmsg.payload2 = (flow.get(\"storeP2\") || 10);\nflow.set(\"storeP1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":200,"wires":[["50342ae9.8bf734"]]},{"id":"72754745.375098","type":"function","z":"17cf7b38.c6011d","name":"pl2","func":"msg.payload2= msg.payload;\nmsg.payload1 = (flow.get(\"storeP1\") || 10);\nflow.set(\"storeP2\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1223.3333129882812,"y":262.66650390625,"wires":[["50342ae9.8bf734"]]},{"id":"50342ae9.8bf734","type":"function","z":"17cf7b38.c6011d","name":"Temp_info","func":"if(msg.payload1 < msg.payload2){\nmsg.payload = {\"d\":{\"regulator\":\"on\", \"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\nreturn msg;\n}\nelse {\nmsg.payload = {\"d\":{\"regulator\":\"off\",\"cur_temp\":msg.payload1,\"tar_temp\":msg.payload2}};\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":220,"wires":[["24382ad.ff9c356"]]},{"id":"dee9e0cb.f6fa38","type":"ui_slider","z":"17cf7b38.c6011d","name":"현재온도","label":"현재온도","tooltip":"","group":"8ba2ac6a.816258","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":"0.1","x":1060,"y":200,"wires":[["12314e09.b59232"]]},{"id":"d2281911.717b18","type":"ui_slider","z":"17cf7b38.c6011d","name":"셋팅온도","label":"셋팅온도","tooltip":"","group":"8ba2ac6a.816258","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"x":1060,"y":280,"wires":[["72754745.375098"]]},{"id":"55309fac.6d006","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":760,"wires":[]},{"id":"39ef68f3.7c8ff","type":"function","z":"17cf7b38.c6011d","name":"reg_info","func":"var evt1 = {'d':{'actuator':msg.payload.d.regulator,\"cur_temp\":msg.payload.d.cur_temp,\"tar_temp\":msg.payload.d.tar_temp}};\n\nreturn {payload:JSON.stringify(evt1)};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":540,"wires":[["dfead4b3.3ffb6","d2abe26f.f44648"]]},{"id":"dfead4b3.3ffb6","type":"ibmiot out","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","outputType":"cmd","deviceId":"vActuator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":0,"name":"Actuator","service":"registered","x":1220,"y":540,"wires":[]},{"id":"d2abe26f.f44648","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":600,"wires":[]},{"id":"49978d47.a1ae0c","type":"comment","z":"17cf7b38.c6011d","name":"온도 측정 -> 조절기","info":"","x":1070,"y":160,"wires":[]},{"id":"4e2090a4.3aa37","type":"comment","z":"17cf7b38.c6011d","name":"조절기 -> 구동기","info":"","x":680,"y":480,"wires":[]},{"id":"24382ad.ff9c356","type":"mqtt out","z":"17cf7b38.c6011d","name":"","topic":"thermo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"16ea98c.56afae7","x":1640,"y":220,"wires":[]},{"id":"9b80bd63.5e57d","type":"ibmiot in","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"vRegulator","applicationId":"","deviceType":"vDev","eventType":"status","commandType":"status","format":"json","name":"Regulator","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":false,"allFormats":true,"qos":0,"x":680,"y":520,"wires":[["39ef68f3.7c8ff","55309fac.6d006","245c920e.4b35ee","4385ca36.da94ac"]]},{"id":"4264bf2c.3364a","type":"mqtt in","z":"17cf7b38.c6011d","name":"","topic":"thermo","qos":"2","datatype":"auto","broker":"16ea98c.56afae7","nl":false,"rap":true,"rh":0,"x":1050,"y":360,"wires":[["dd4d7a8a.a3e548","704a52de.d758f4"]]},{"id":"eef93e41.724608","type":"ibmiot out","z":"17cf7b38.c6011d","authentication":"apiKey","apiKey":"8bd5c319.d8155","outputType":"evt","deviceId":"vRegulator","deviceType":"vDev","eventCommandType":"status","format":"json","data":"data","qos":0,"name":"Regulator","service":"registered","x":1640,"y":360,"wires":[]},{"id":"931562f3.ed8d88","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":300,"wires":[]},{"id":"dd4d7a8a.a3e548","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":420,"wires":[]},{"id":"29892ec5.2a0882","type":"ui_gauge","z":"17cf7b38.c6011d","name":"","group":"8ba2ac6a.816258","order":7,"width":0,"height":0,"gtype":"gage","title":"thermometer","label":"degree ","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":660,"wires":[]},{"id":"245c920e.4b35ee","type":"function","z":"17cf7b38.c6011d","name":"thremo(cur_temp) ","func":"msg.payload= msg.payload.d.cur_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":660,"wires":[["29892ec5.2a0882","aa050491.44b0f8"]]},{"id":"704a52de.d758f4","type":"json","z":"17cf7b38.c6011d","name":"","property":"payload","action":"","pretty":false,"x":1230,"y":360,"wires":[["eef93e41.724608","931562f3.ed8d88"]]},{"id":"aa050491.44b0f8","type":"debug","z":"17cf7b38.c6011d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":720,"wires":[]},{"id":"4385ca36.da94ac","type":"function","z":"17cf7b38.c6011d","name":"","func":"msg.payload= msg.payload.d.cur_temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["dee9e0cb.f6fa38"]]},{"id":"5d469731.e41fe","type":"comment","z":"17cf7b38.c6011d","name":"난방 작동 후 온도 변화","info":"","x":730,"y":360,"wires":[]},{"id":"8ba2ac6a.816258","type":"ui_group","name":"Default","tab":"e3245e6c.fe0ed8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bd5c319.d8155","type":"ibmiot","name":"kdt","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"16ea98c.56afae7","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e3245e6c.fe0ed8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
